<%=@recipes.each do |recipe|%>
  <%=recipe.name%>
  <%if recipe.favorited_by?(current_user)%>
    <p><span>お気に入り解除: </span><%=link_to recipe.favorites.count, recipe_favorites_path(recipe.id), method: :delete %></p> 
  <%else%>
    <p><span>お気に入り登録: </span><%=link_to recipe.favorites.count, recipe_favorites_path(recipe.id), method: :post %></p>
  <%end%>
<%end%>

<section class="l-content-fixed section">
<header class="section-header">
  <h2 class="section-title">New Article</h2> 
  <p class="section-subtitle">新着記事</p>
</header>
<div class="l-multicolumn l-3column">
  <article>
  <a href="#">
    <img class="section-item-img">
    <p class="section-item-info-title">
      <time>2020.2.20</time>
      RECIPE
    </p>
    <h3 class="section-item-info">
      デザイナー向け社内勉強会を初開催しました！
    </h3>
  </a>
  </article>
  <article>
  <a href="#">
    <img class="section-item-img">
    <p class="section-item-info-title">
      <time>2020.2.20</time>
      RECIPE
    </p>
    <h3 class="section-item-info">
      デザイナー向け社内勉強会を初開催しました！
    </h3>
  </a>
  </article>
  <article>
  <a href="#">
    <img class="section-item-img">
    <p class="section-item-info-title">
      <time>2020.2.20</time>
      RECIPE
    </p>
    <h3 class="section-item-info">
      デザイナー向け社内勉強会を初開催しました！
    </h3>
  </a>
  </article>
</div>
