<section class="l-content-fixed section">
<header class="section-header">
  <h2 class="section-title">New Article</h2> 
  <p class="section-subtitle">新着記事</p>
</header>
<div class="l-multicolumn l-3column">
  <article>
  <a href="#">
    <img class="section-item-img">
    <p class="section-item-info-title">
      <time>2020.2.20</time>
      RECIPE
    </p>
    <h3 class="section-item-info">
      デザイナー向け社内勉強会を初開催しました！
    </h3>
  </a>
  </article>
  <article>
  <a href="#">
    <img class="section-item-img">
    <p class="section-item-info-title">
      <time>2020.2.20</time>
      RECIPE
    </p>
    <h3 class="section-item-info">
      デザイナー向け社内勉強会を初開催しました！
    </h3>
  </a>
  </article>
  <article>
  <a href="#">
    <img class="section-item-img">
    <p class="section-item-info-title">
      <time>2020.2.20</time>
      RECIPE
    </p>
    <h3 class="section-item-info">
      デザイナー向け社内勉強会を初開催しました！
    </h3>
  </a>
  </article>
</div>
